body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    height: auto;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 30px;
    line-height: 4;
}

.card-body p {
    margin-bottom: 10px;
    font-size: 18px;
}

.card-body strong {
    display: inline-block;
}

.card-body .profile-info {
    display: block;
    font-size: 18px;
}
