<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Новый турнир</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/newTournament.css">
  <link rel="stylesheet" href="/static/navbar.css">
  <script src="/static/newTournament.js"></script>
</head>

<body>
<div id="navbar">
  <div id="navbar-brand">Table Tennis</div>
  <div id="navbar-links">
    <a href="/tournament">Турниры</a>
    <a href="/tournament/create">Старт</a>
    <a href="/user/rating">Рейтинг</a>
    <a href="/user/profile">Профиль</a>
    <a href="/logout">Выход</a>
  </div>
</div>
<div class="container mt-4">
  <div class="container text-center">
    <h2 class="mb-4">Создание турнира</h2>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <form th:action="@{/tournament}" th:method="POST" th:object="${tournament}">
        <div class="form-group">
          <h4>Список доступных игроков:</h4>
          <label for="users">Выберите игроков для турнира. Вы можете выбрать несколько игроков для участия в турнире:</label>
          <div class="row" id="user-selection">
            <div th:each="username : ${users}" class="col-md-4">
              <div class="user-card" th:data-username="${username}">
                <input type="checkbox" class="d-none" id="users" th:field="*{users}" th:value="${username.id}">
                <p th:text="${username.fullName}"></p>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Начать турнир</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
