<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/test.css">
</head>
<body>
<div class="container">
    <h1>Responsive Tournament Bracket</h1>
    <h2>Ice hockey at the 1998 Winter Olympics – Men's tournament</h2>
    <div class="tournament-bracket tournament-bracket--rounded">
        <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
            <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${firstRound}">
                    <div class="tournament-bracket__match" tabindex="0" th:attr="data-match-id=${match.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <!-- Remove date and score -->
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <span class="tournament-bracket__cup" th:if="${match.player1Score == 11}">&#x1F3C6;</span>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-kz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player2Score}">
                                        <span class="tournament-bracket__cup" th:if="${match.player2Score == 11}">&#x1F3C6;</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semifinals">
            <h3 class="tournament-bracket__round-title">Semifinals</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${secondRound}">
                    <div class="tournament-bracket__match" tabindex="0" th:attr="data-match-id=${match.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <!-- Remove date and score -->
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <span class="tournament-bracket__cup" th:if="${match.player1Score == 11}">&#x1F3C6;</span>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player2Score}">
                                        <span class="tournament-bracket__cup" th:if="${match.player2Score == 11}">&#x1F3C6;</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--bronze">
            <h3 class="tournament-bracket__round-title">Bronze medal game</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${thirdRound}">
                    <div class="tournament-bracket__match" tabindex="0" th:attr="data-match-id=${match.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <!-- Remove date and score -->
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-fi"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <span class="tournament-bracket__cup" th:if="${match.player1Score == 11}">&#x1F3C6;</span>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player2Score}">
                                        <span class="tournament-bracket__cup" th:if="${match.player2Score == 11}">&#x1F3C6;</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--gold">
            <h3 class="tournament-bracket__round-title">Gold medal game</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${fourthRound}">
                    <div class="tournament-bracket__match" tabindex="0" th:attr="data-match-id=${match.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <!-- Remove date and score -->
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <span class="tournament-bracket__cup" th:if="${match.player1Score == 11}">&#x1F3C6;</span>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2}"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ru"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="11" th:value="${match.player2Score}">
                                        <span class="tournament-bracket__cup" th:if="${match.player2Score == 11}">&#x1F3C6;</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    // Получаем все матчи на странице
    let matches = document.getElementsByClassName("tournament-bracket__match");

    // Перебираем каждый матч
    for (let i = 0; i < matches.length; i++) {
        (function () {
            let match = matches[i];
            let scoreInputs = match.querySelectorAll(".player-score");
            let matchId = match.getAttribute("data-match-id");

            // Обновляем очки и победителя при изменении значений
            for (let j = 0; j < scoreInputs.length; j++) {
                scoreInputs[j].addEventListener("input", updateScores);
            }

            // Функция для обновления очков и победителя
            function updateScores() {
                let scores = [];
                let winnerIndex = -1;

                // Собираем все очки в массив
                for (let j = 0; j < scoreInputs.length; j++) {
                    let score = parseInt(scoreInputs[j].value);
                    scores.push(score);

                    // Проверяем, достиг ли игрок 11 очков
                    if (score === 11 && scoreInputs[j] === document.activeElement) {
                        winnerIndex = j;
                    }

                }

                // Обновляем классы и победителя
                for (let j = 0; j < scoreInputs.length; j++) {
                    if (j === winnerIndex) {
                        scoreInputs[j].classList.add("tournament-bracket__number--winner");
                        match
                            .querySelectorAll(".tournament-bracket__team")[j]
                            .classList.add("tournament-bracket__team--winner");
                    } else {
                        scoreInputs[j].classList.remove("tournament-bracket__number--winner");
                        match
                            .querySelectorAll(".tournament-bracket__team")[j]
                            .classList.remove("tournament-bracket__team--winner");
                    }
                }

                // Если есть победитель, отправляем запрос на сервер для обновления значения переменной "winner" и matchId
                if (winnerIndex !== -1) {
                    let winner = match.querySelectorAll(".tournament-bracket__code")[winnerIndex].textContent;
                    updateMatchAndScores(matchId, winner, scores[0], scores[1])
                }
            }

            // Инициализируем очки и победителя при загрузке страницы
            // updateScores();
        })();
    }

    // Функция для отправки запроса на сервер и обновления значения переменной "winner"
    function updateMatchAndScores(matchId, winner, player1Score, player2Score) {
        fetch("/matches?matchId=" + matchId + "&winner=" + winner + "&player1Score=" + player1Score + "&player2Score=" + player2Score, {
            method: "PATCH",
        })
            .then(response => response.json())
            .then(data => {
                // Обработка успешного ответа от сервера (если необходимо)
                let matchElement = document.querySelector("[data-match-id='" + matchId + "']");
                let codeElements = matchElement.querySelectorAll(".tournament-bracket__code");
                let numberElement = matchElement.querySelector(".tournament-bracket__number");

                codeElements[0].textContent = data.player1;
                codeElements[1].textContent = data.player2;
                numberElement.textContent = data.score;

                // Автоматическая перезагрузка страницы после успешного выполнения патч-запроса
                location.reload();
            })
            .catch(error => {
                console.log(error.message);
            });
    }

</script>

</html>
