<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Турнир</title>
    <link rel="stylesheet" href="/tournament.css">
</head>
<body>
<div class="container">
    <h1>Турнир по настольному теннису</h1>
    <h2 th:text="'Турнир #' + ${tournament.id}"></h2>
    <h2 th:text="'Количество игроков: ' + ${amountUsers}"></h2>
    <h2 th:text="'Количество партий: ' + ${amountMatches}"></h2>
    <div class="tournament-bracket tournament-bracket--rounded">
        <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
            <h3 class="tournament-bracket__round-title">Первый раунд</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${firstRound}">
                    <div class="tournament-bracket__match" tabindex="0"
                         th:attr="data-match-id=${match.id}, data-player1=${match?.player1?.id}, data-player2=${match?.player2?.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1?.fullName}"
                                          th:classappend="${match.player1Score > match.player2Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2?.fullName}"
                                          th:classappend="${match.player2Score > match.player1Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <abbr class="tournament-bracket__code" th:if="${match.player2 == null}">no
                                        pair</abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-kz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player2Score}">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semifinals">
            <h3 class="tournament-bracket__round-title">Второй раунд</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${secondRound}">
                    <div class="tournament-bracket__match" tabindex="0"
                         th:attr="data-match-id=${match.id}, data-player1=${match?.player1?.id}, data-player2=${match?.player2?.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1?.fullName}"
                                          th:classappend="${match.player1Score > match.player2Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <abbr class="tournament-bracket__code"
                                          th:if="${match.player1 == null and match.player2 != null}">pending</abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2?.fullName}"
                                          th:classappend="${match.player2Score > match.player1Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player2Score}">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--bronze">
            <h3 class="tournament-bracket__round-title">Третий раунд</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${thirdRound}">
                    <div class="tournament-bracket__match" tabindex="0"
                         th:attr="data-match-id=${match.id}, data-player1=${match?.player1?.id}, data-player2=${match?.player2?.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1?.fullName}"
                                          th:classappend="${match.player1Score > match.player2Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-fi"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2?.fullName}"
                                          th:classappend="${match.player2Score > match.player1Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player2Score}">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--gold">
            <h3 class="tournament-bracket__round-title">Четвертый раунд</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" th:each="match : ${fourthRound}">
                    <div class="tournament-bracket__match" tabindex="0"
                         th:attr="data-match-id=${match.id}, data-player1=${match?.player1?.id}, data-player2=${match?.player2?.id}">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                            </caption>
                            <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player1?.fullName}"
                                          th:classappend="${match.player1Score > match.player2Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-cz"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player1Score}">
                                    </label>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" th:text="${match.player2?.fullName}"
                                          th:classappend="${match.player2Score > match.player1Score} ? 'player-win' : 'player-loss'"></abbr>
                                    <span class="tournament-bracket__flag flag-icon flag-icon-ru"
                                          aria-label="Flag"></span>
                                </td>
                                <td class="tournament-bracket__score"
                                    th:if="${match.player1 != null and match.player2 != null and userId == tournament.creator.id}">
                                    <label>
                                        <input class="tournament-bracket__number player-score"
                                               type="number" min="0" max="99" th:value="${match.player2Score}">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-card" th:if="${tournament.tournamentType.toString().equals('ACTIVE') and userId == tournament.creator.id}">
        <form th:method="PATCH" th:action="@{/tournament/finish/{tournamentId}(tournamentId=${tournament.id})}">
            <button class="login-btn" type="submit">Завершить турнир</button>
        </form>
</div>
<div class="login-card" th:if="${tournament.tournamentType.toString().equals('FINISH') or userId != tournament.creator.id}">
    <form th:method="GET" th:action="@{/tournament}">
        <button class="login-btn" type="submit">Выйти назад</button>
    </form>
</div>
</body>
<script>

    function updateMatchAndScores(matchId, winner, player1Score, player2Score) {
        fetch("/matches?matchId=" + matchId + "&winnerId=" + winner + "&player1Score=" + player1Score + "&player2Score=" + player2Score, {
            method: "PATCH",
        })
            .then(response => response.json())
            .then(data => {
                let matchElement = document.querySelector("[data-match-id='" + matchId + "']");
                let codeElements = matchElement.querySelectorAll(".tournament-bracket__code");
                let numberElement = matchElement.querySelector(".tournament-bracket__number");

                codeElements[0].textContent = data.player1;
                codeElements[1].textContent = data.player2;
                numberElement.textContent = data.score;

                location.reload();
            })
            .catch(error => {
                console.log(error.message);
            });
    }

    function checkScores(matchId) {
        let matchElement = document.querySelector("[data-match-id='" + matchId + "']");
        let playerScoreElements = matchElement.querySelectorAll(".player-score");

        let player1Score = parseInt(playerScoreElements[0].value);
        let player2Score = parseInt(playerScoreElements[1].value);

        if (!isNaN(player1Score) && !isNaN(player2Score)) {
            let player1 = matchElement.getAttribute("data-player1");
            let player2 = matchElement.getAttribute("data-player2");
            let winner = player1Score > player2Score ? player1 : player2;
            updateMatchAndScores(matchId, winner, player1Score, player2Score);
        }
    }

    let matches = document.querySelectorAll(".tournament-bracket__match");

    matches.forEach(function (match) {
        let matchId = match.getAttribute("data-match-id");
        match.addEventListener("change", function () {
            checkScores(matchId);
        });
    });

</script>
</html>
